# Resultados do Primeiro Teste de Aceitação

## Introdução
Baseado no [documento de aceitação](https://github.com/fga-eps-mds/2020.1-stay-safe-docs/blob/master/docs/produto/acceptance-test.md) foram realizados testes com 7(sete) pessoas para testarem as funcionalidades descritas anteriormente.

## Resultados

### Testadores
Para a realização dos testes foram procurados perfis compatíveis com os das personas desenvolvidas pelo grupo, no entanto , devido à pandemia e aos protocolos de distanciamento social, não foi possível encontrar testadores para todos os perfis. Em contrapartida, foram selecionadas pessoas experientes em diferentes áreas dentro de desenvolvimento de software que abrangessem conhecimentos que a equipe não possui, como design e UX/UI, e também desenvolvedores experientes em back-end. Além de pessoas da área, também foram selecionados testadores leigos para que os feedbacks pudessem ser diversificados e gerados de diferentes óticas.

### Estatísticas
Baseado nas tarefas especificadas no documento de descrição do teste de aceitação, obtivemos os seguintes resultados com cada testador:


## Testador 1

### Data e Horário do teste
**Data:** 11/11/2020
**Horário:** 12:18

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |          |          |          |     x    |
| Sim, com dificuldade   |          |          |          |     x    |     x    |          |
| Sim, com facilidade    |     x    |     x    |     x    |          |          |          |      
| Tempo de execução(segundos)       |     56   |     48   |     7    |     21   |     25   |     30     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
4.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, porém baseando-se apenas no pins. A estatística das secretarias são apenas para momentos específicos.
3. **Como você avalia a identidade visual do aplicativo?**        
Boa, porém com falha nos contrastes dos textos com os botões no modo escuro.
4. **Acha que os ícones são representativos?**        
Sim, com exceção do ícone de registrar ocorrência.
5. **Tem alguma reclamação sobre alguma tela específica?**     
Tela de Login: Diferença de linguagem no título dos campos(username, senha).
Tela de Cadastro de Ocorrência: roubo a transeunte não ficou explícito; a barra de rolagem nos tipos de ocorrências não aparece bem e não indica que a tela tem uma rolagem; título do campo vítima não representa bem o campo; título do campo de BO não deixa claro o campo.
Tela Home: falta de intuitividade do botão de registrar ocorrência; ícone de filtro sobrepõe o ícone de localização do usuário; as bordas do mapa de calor são muito grossas; para marcação do filtro é necessário clicar só no círculo, não há a possibilidade de clicar no nome; mapa recarrega quando a tela de detalhes da ocorrência é fechada. Ao clicar no filtro do mapa de calor ele recarrega o mapa para os pins.
6. **Sentiu falta de alguma instrução/informação?**
Nome dos filtros não é intuitivo. Não aparece o nome da RA no mapa de calor. Não há a informação do intervalo de tempo do mapa de calor. Não ficou explícito que ao clicar na RA no mapa de calor aparece as estatísticas. Dificuldade de achar os bairros.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.

## Testador 2

### Data e Horário do teste
**Data:** 11/11/2020
**Horário:** 18:20

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |          |          |     x    |          |
| Sim, com dificuldade   |          |          |          |     x    |          |     x    |
| Sim, com facilidade    |     x    |     x    |     x    |          |          |          |      
| Tempo de execução(segundos)       |     60   |     55   |     10   |     195  |     -    |     107     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
3.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, parece interessante para quem usa transporte público e transita em vias públicas constantemente.
3. **Como você avalia a identidade visual do aplicativo?**        
Legal, boas cores, remete bem ao tema.
4. **Acha que os ícones são representativos?**        
Sim, exceto o de filtro, engloba muitas funcionalidades que não atribuiria a ele.
5. **Tem alguma reclamação sobre alguma tela específica?**     
Não.
6. **Sentiu falta de alguma instrução/informação?**
De instruções falando qual as funcionalidades do app, como um guia caso quisesse realizar alguma delas.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.


## Testador 3

### Data e Horário do teste
**Data:** 12/11/2020
**Horário:** 08:14

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |     x     |          |     x     |          |     x     |
| Sim, com dificuldade   |     x    |           |     x    |           |          |           |
| Sim, com facilidade    |          |           |          |           |     x    |           |      
| Tempo de execução(segundos)       |     105   |     -    |     54    |     -    |     20    |     -     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
2.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Não, pois não acha as coisas dentro dele.
3. **Como você avalia a identidade visual do aplicativo?**        
Padrão, bonita.
4. **Acha que os ícones são representativos?**        
Sim, com exceção do ícone do filtro.
5. **Tem alguma reclamação sobre alguma tela específica?**     
A tela de pesquisa, pois estava em branco(não tinha sido implementada).
6. **Sentiu falta de alguma instrução/informação?**
Sim, de tutoriais de instrução.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.

## Testador 4

### Data e Horário do teste
**Data:** 12/11/2020
**Horário:** 10:54

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |     x    |          |          |          |
| Sim, com dificuldade   |          |     x    |          |     x    |     x    |          |
| Sim, com facilidade    |     x    |          |          |          |          |     x    |      
| Tempo de execução(segundos)       |     29   |     100  |     -    |     30   |     58   |     31     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
4.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, pois gostou da proposta.
3. **Como você avalia a identidade visual do aplicativo?**        
Boa, está bonito.
4. **Acha que os ícones são representativos?**        
Sim, com exceção do ícone do filtro.
5. **Tem alguma reclamação sobre alguma tela específica?**     
Não.
6. **Sentiu falta de alguma instrução/informação?**
Sim, algum guia para chegar nas funcionalidades procuradas.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.

## Testador 5

### Data e Horário do teste
**Data:** 12/11/2020
**Horário:** 12:11

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |          |          |          |     x    |
| Sim, com dificuldade   |          |          |          |    x     |    x     |          |
| Sim, com facilidade    |      x   |      x   |    x     |          |          |          |      
| Tempo de execução(segundos)       |     53   |     90   |     8    |     120  |     120  |     -     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
4.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, é uma boa ideia.
3. **Como você avalia a identidade visual do aplicativo?**        
Legal.
4. **Acha que os ícones são representativos?**        
Sim, com exceção do ícone do filtro.
5. **Tem alguma reclamação sobre alguma tela específica?**     
Na tela do mapa dos pins quando clico em uma ocorrência e depois volto pro mapa, o app volta pro mapa da minha localização e não da localização que eu estava vendo antes de clicar no pin.
6. **Sentiu falta de alguma instrução/informação?**
Sim, instruções de quais funcionalidades existem e como acessá-las.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.     

## Testador 6

### Data e Horário do teste
**Data:** 11/11/2020
**Horário:** 22:30

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |          |          |          |          |
| Sim, com dificuldade   |          |          |          |          |     x    |     x    |
| Sim, com facilidade    |     x    |     x    |     x    |     x    |          |          |      
| Tempo de execução(segundos)       |     52   |     53   |     5    |     12   |     27   |     34     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
4.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, pois anda muito sozinho e às vezes para lugares que não conhece e deseja saber qual a segurança desse lugar.
3. **Como você avalia a identidade visual do aplicativo?**        
Gostou das cores e da falta de poluição nas telas.
4. **Acha que os ícones são representativos?**        
Sim.
5. **Tem alguma reclamação sobre alguma tela específica?**     
A ocorrência fica clicável na hora de selecionar um local favorito. Ícones se sobrepõe no mapa. O mapa volta para o mapa de pins ao tentar filtrar o mapa de calor por uma segunda vez. A distância do mapa ao centralizar no DF deixa ele meio longe, precisa dar zoom. Existe uma borda escura no canto inferior esquerdo da navbar na tela do mapa.
6. **Sentiu falta de alguma instrução/informação?**
Sim, na hora dos filtros ficou um pouco perdido.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.

## Testador 7

### Data e Horário do teste
**Data:** 13/11/2020
**Horário:** 09:23

### Tarefas

|                        | Tarefa 1 | Tarefa 2 | Tarefa 3 | Tarefa 4 | Tarefa 5 | Tarefa 6 |  
|:----------------------:|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
| Não conseguiu realizar |          |          |          |          |          |          |
| Sim, com dificuldade   |          |     x    |          |          |          |          |
| Sim, com facilidade    |     x    |          |     x    |     x    |     x    |     x    |      
| Tempo de execução(segundos)       |     60   |     120  |     3    |     70   |     70   |     40     |      

### Perguntas de Feedback
1. **Como você avaliaria sua experiência ao utilizar o aplicativo? (de 1 a 5, como 1 sendo uma experiência muito ruim e 5 sendo uma experiência muito boa)**       
4.
2. **Você utilizaria esse app no seu dia-a-dia? Por Quê?**        
Sim, com certeza, a ideia é muito boa.
3. **Como você avalia a identidade visual do aplicativo?**        
Muito boa, bem diferente e não é saturada.
4. **Acha que os ícones são representativos?**        
Sim, menos o filtro.
5. **Tem alguma reclamação sobre alguma tela específica?**     
Pra voltar para o mapa inicial quando esta no mapa de calor é dificil.
6. **Sentiu falta de alguma instrução/informação?**
Não.
7. **As funcionalidades apresentadas no aplicativo corresponderam as suas expectativas em relação a proposta do aplicativo?**
Sim.

## Definição de Ajustes e Melhorias
Tendo como partida as sugestões propostas pelos testadores e as observações feitas durante a execução dos testes, alguns ajustes foram discutidos pela equipe e definidos como atividades a serem realizadas nas próximas sprints.

* Mudar o nome da aba “local” na modal de filtros.
* Realizar um Guia Inicial para o usuário na primeira vez em que ele abrir o aplicativo.
* Padronizar o idioma do aplicativo para português nas telas de cadastro e login de usuário.
* Mudar os campos "Roubo a Transeunte" para "Roubo a Pedestre".
* Mostrar o mapa de calor do DF mais aproximado, com um zoom maior.
* Melhorar título dos campos "Vítima" e "Boletim de Ocorrência" para um texto mais explícito.
* Melhorar o contraste do texto de alguns botões no modo escuro.
* Adicionar informações sobre os anos das estatísticas visualizadas.
* Realocar ícone dos filtros.
* Deixar clicável o nome dos filtros na modal de filtros.
* Melhorar funcionamento do mapa em relação à modal de filtros.
* Refatorar a tela Home para que possua dois mapas diferentes, cada um com sua funcionalidade, e um botão de navegação entre esses dois mapas.
* Deixar barra de rolagem sempre visível nos tipos de ocorrências e melhorar seu contraste no modo escuro.
* Remover os pins do mapa de selecionar locais favoritos.
* Não ser redirecionado para a própria localização ao cadastrar a ocorrência e sim continuar de onde começou o cadastro.